@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dm: var(--font-dm-sans);
  --font-gilda: var(--font-gilda-display);

  --color-cream: #f4f1ea;
  --color-dark: #2b2b2b;
  --color-charcoal: #1b2826;
  --color-orange: #ff5825;
  --color-beige: #d3cbba;
  --color-gray-lighter: #323232;
}

:root {
  --background: var(--color-cream);
  --foreground: var(--color-charcoal);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-gilda {
  font-family: var(--font-gilda-display), serif;
}
